/* 1. Global Styles
   2. Global Typography Styles
   3. Navigation Styles
   4. Global Structure Styles
   5. Caroussel Styles
   6. Project Page Styles
======================================== */

/* 1. Global Styles
======================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

html {
    height: 100%;
    box-sizing: border-box;
    font-family: "Avenir Light", sans-serif;
}

body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* 2. Global Typography Styles
======================================== */
h1 {
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 10px;
    font-weight: 900;
}

@media screen and (max-width: 669px) {
    h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 429px) {
    h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 669px) {
    h2 {
        font-size: 22px;
    }
}

h3 {
    font-weight: normal;
}

@media screen and (max-width: 669px) {
    h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 429px) {
    h3 {
        font-size: 14px;
    }
}


h4 {
    text-align: center;
    width: 100%;
}

a {
    /* font-size: 1.2em; */
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #fe6858;
    transition: ease-in-out .5s;
}

.a-active {
    color: #fe6858;
}

a:visited {
    color: none;
}

b {
    color: #fe6858;
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 429px) {
    p {
        font-size: 14px;
    }
}

/* 3. Navigation Styles
======================================== */

nav {
    width: 100%;
    height: 80px;
    margin-top: 0px;
    box-shadow: 0px 2px 8px #888888;
    position: fixed;
    background-color: white;
    z-index: 100;
}

.logo {
    height: 80px;
    padding: 20px;
    position: absolute;
    margin-left: 20px;
}

@media screen and (max-width: 429px) {
    .logo {
        margin-left: 5px;
    }
}

ul {
    margin-right: 40px;
    height: 20px;
    margin-top: 26px;
    float: right;
    margin-bottom: 0;
}

li {
    display: inline;
    padding: 29px 20px;
}

@media screen and (max-width: 862px) {
    li {
        display: none;
    }
}

.hamburger-button {
    display: none;
    float: right;
    padding: 27px 20px;
    margin-right: -40px;
}

@media screen and (max-width: 862px) {
    .hamburger-button {
        display: block;
    }
}

#x {
    display: none;
    float: right;
    padding: 27px 20px;
    margin-right: -40px;
    cursor: pointer;
}

@media screen and (max-width: 429px) {
    .hamburger-button {
        margin-right: -55px;
    }

    #x {
        margin-right: -55px;
    }
}

svg {
    position: absolute;
    height: 8px;
    width: 0px;
    margin-top: 48px;
    transition: ease-in-out 0.5s;
}

#line {
    left: calc(100% - 116px);
}

#line2 {
    left: calc(100% - 228px);;
}

.line2-active {
    width: 68px;
}

#line3 {
    left: calc(100% - 340px);
}

@media screen and (max-width: 862px) {
    .line2-active {
        width: 0px;
    }
}

.mobile-menu {
    height: 211px;
    width: 100%;
    padding-top: 82px;
    position: fixed;
    background-color: white;
    z-index: 99;
}

.mobile-link {
    border-bottom: 1px solid gray;
    padding: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
}

.mobile-link:hover {
    background-color: rgb(226, 226, 226);
}


/* 4. Global Structure Styles
======================================== */

header {
    width: 100%;
    height: 200px;
    margin-top: 60px;
    /* padding-top: 20px; */
    text-align: center;
}

button {
    background-color: white;
    /* padding: 6px 44px; */
    padding: 6px 0px;
    border: 1px solid black;
    transition: ease-in-out .33s;
}

button:hover {
    background-color: #fe6858;
    color: white;
    border: none;
}

button:focus {
    outline: none;
}

.button-a {
    color: #fe6858;
    padding: 6px 44px;
}

.button-a:hover {
    color: white;
}

.portfolio-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    margin-top: 40px;
}

@media screen and (max-width: 862px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 429px) {
    .portfolio-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.project-title-box {
    height: 120%;
    width: 100%;
    background-color: #fe6858;
    z-index: 100;
    opacity: 0;
    transform: translateY(-86%);
    transition: ease-in-out .5s;
}

.project-title-box:hover {
    opacity: 1;
}

@media only screen and (max-device-width : 1024px) {
    .mobile-click:active {
        opacity: 1;
    }
}


.project {
    height: 100%;
    width: 33.33vw;
    overflow: hidden;
}

@media screen and (max-width: 862px) {
    .project {
        width: 50vw;
    }
}

@media screen and (max-width: 429px) {
    .project {
        width: 100vw;
    }
}

.project-title {
    padding: 20px;
    margin: 0;
    color: white;
    position: absolute;
    width: 33vw;
}

@media screen and (max-width: 862px) {
    .project-title {
        width: 50vw;
    }
}

@media screen and (max-width: 429px) {
    .project-title {
        width: 100vw;
    }
}

.project-photo {
    width: 100%;
    height: 100%;
    z-index: -1;
}

footer {
    height: 120px;
    display: flex;
    padding: 20px;
    color: #fe6858;
}

span {
    position: absolute;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
}



/* 5. Caroussel Styles
======================================== */

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  padding-top: 80px;
  display: inline-block;
  overflow: hidden;
}

/* Hide the images by default */
/* .mySlides {
  display: none;
} */


#group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 400%;
    transition: ease 1s;
    transform: translateX(0);
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* 6. Project and Member Page Styles
======================================== */

.parallax {
    position: sticky;
    position: -webkit-sticky;
    width: 100vw;
    top: 0;
    z-index: -1;
    box-sizing: border-box;
    overflow: hidden; 

}

#parallax {
    padding-top: 80px;
}

#wipe-on {
    width: 100vw;
    height: 2000px;
    background-color: white;
    transition: ease-in-out .75s;
    z-index: 100;
    position: absolute;
    top: 0;
    margin-top: 80px;
}

.project-header {
    height: 400px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: -8px;
    align-items: center;
}

.caption {
    /* padding: 220px 0px; */
    text-align: left;
}

.caption1 {
    padding-left: 10vw;
    margin-right: 200px;
}

@media screen and (max-width: 1000px) {
    .caption1 {
        margin-right: 100px;
    }
}

@media screen and (max-width: 686px) {
    .caption1 {
        margin-right: 20px;
    }
}

.caption2 {
    padding-right: 10vw;
}

.project-grid {
    grid-template-columns: 100%;
    background-color: white;
    margin: 0;
}

.project-detail {
    width: 100vw;
    margin: 6px auto;
    display: flex;
    justify-content: center;
}

.img-top {
    width: 100%;
}

.img {
    height: 560px;
    /* width: 995.547px; */
    overflow: hidden;
}

iframe {
    display: block;
}

.iframe-container {
    display:flex;
    justify-content: center;
    background-color: #fe6858;
    height: calc(100vh - 120px);
}

#contact {
    border-width: 0px;
    margin-top: 120px;
}

@media screen and (max-width: 1000px) {
    iframe {
        height: 380px;
    }

    .img {
        height: 380px;
    }

    #contact {
        width: 310px;
        height: 390px;
    }
}

@media screen and (max-width: 686px) {
    iframe {
        height: 220px;
    }

    .img {
        height: 220px;
    }
}

@media screen and (max-width: 402px) {
    iframe {
        height: 160px;
    }

    .img {
        height: 160px;
    }
}

@media screen and (max-width: 295px) {
    iframe {
        height: 100px;
    }

    .img {
        height: 100px;

    }
}

.hide {
    display: none;
}

.login {
    display: flex;
    justify-content: center;
}

form {
    border: 3px solid #f1f1f1;
    width: 50%;
    margin-top: 80px;
}

@media screen and (max-width: 862px) {
    form {
        width: 75%;
    }
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}